<%= form_with(model: domain, local: true) do |form| %>

  
  <% if domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

    <input type="text" id="domainname" name="domain">
  
  <% end %>
  


  <% form.label :name %>
    <%= form.text_field :name %>
    <%= select_tag(:span, options_for_select([['1 Year',1],['2 years',2],['5 years',5],['10 years',10]])) %>
    <div class="actions">
      <%= form.submit %>
    
    </div>
<% end %>



